* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  background-color: #e0e0e0;
}

.sidebar {
  margin-left: 4px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 80px;
  height: 100vh;
  border-radius: 10px;
  position: fixed;
  box-shadow: 0 0 2px 2px #d4d4d4;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 18px;
}

li {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 5px;
}

h3 {
  display: none;
  color: gray;
  font-size: 15px;
}

hr {
  width: 80px;
  margin-bottom: 20px;
  padding: 0;
}

.secundary-information {
  color: gray;
  font-size: 13px;
}

/*Menu styles*/

.menu {
  margin-top: 20px;
  display: flex;
  position: relative;
}

.menu img,
.footer img {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: cover;
}

.option-menu {
  display: none;
  padding: 10px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  left: 85px;
  top: -20px;
}

img[alt="icon item menu"] {
  color: gray;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 20px;
}

img[alt="fhoto group figma"] {
  border: 1px solid #d4d4d4;
}

.option-menu li {
  gap: 10px;
  padding: 10px;
  margin: 0;
}

.data-option-menu {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: auto;
}

/*hover*/

.menu:hover .option-menu {
  display: inline;
}

.option-menu li:hover {
  background-color: #f3f1ff;
  border-radius: 5px;
}

.option-menu li:hover:active:after {
  content: " ✓ ";
}

/* Search*/

.content-search {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 5px;
}

.content-search p {
  margin: 0;
  bottom: 3px;
}

li img,
.content-search img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

/*hover*/

.search:hover {
  border-radius: 5px;
  background-color: #f6f6f6;
}

/* Sections (shared, projects, help and settings) */

ul,
section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.project-content {
  height: 70%;
}

.project li div {
  width: 16px;
  height: 16px;
  border-radius: 6px;
}

.one {
  background-color: #b0e9dc;
  border: 1px solid #a3d2c9;
}

.two {
  background-color: #c9d3f6;
  border: 1px solid #c0c7e5;
}

.three {
  background-color: #e2c6f8;
  border: 1px solid #d3bde2;
}

.new {
  color: gray;
  border: 1px solid gray;
  text-align: center;
}

/*positionig */

.content-option {
  position: relative;
}

.content-option div {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.content-option p {
  width: max-content;
  display: none;
  padding: 3px 6px;
  z-index: 1;
  position: absolute;
  text-align: center;
  left: 30px;
}

/*hover*/

.content-option:hover {
  border-radius: 5px;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
}

.content-option:hover p {
  display: inline;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.help-and-settings {
  margin-top: auto;
  margin-bottom: 0;
}

.conten-shared {
  margin: 30px auto;
}

/*footer*/

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
}

.content-footer-options {
  display: none;
  width: 200px;
  padding: 10px;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  left: 85px;
  bottom: 0px;
}

.content-footer-options hr {
  width: 100%;
}

.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.option-boottom {
  padding: 10px;
}

.perfil-options {
  display: flex;
  gap: 10px;
}

.option-boottom img {
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-right: auto;
}

.option-boottom p {
  width: 80%;
}

.container-version {
  height: 20px;
}

/* hover */

.footer:hover .content-footer-options {
  display: flex;
}

.option-boottom:hover {
  background-color: #edf9f2;
  border-radius: 5px;
  color: green;
}
